.header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #455058;
  background-color: #455058;
  position: fixed;
  top: 0;
  left: 0;
}

.header .mr10 {
  margin-right: 10px;
}

.header .logo {
  float: left;
  position: relative;
  top: 7px;
  width: 200px;
  height: 36px;
  background: url('../../assets/images/logo.png') no-repeat;
  background-size: contain;
}

.header .user {
  float: right;
  color: #d6d6d6;
  height: 50px;
  line-height: 50px;

  .message {
    float: left;
    height: 50px;
    line-height: 50px;
    margin-right: 50px;
  }
  .img {
    float: left;
    height: 50px;
    border: none;
    margin-right: 5px;
    padding-top: 7px;
    img {
      width: 36px;
      height: 36px;
    }
  }
  .name {
    color: #fff;
  }
}

.navi {
  top: 2px;
  left: 180px;
  z-index: 200;
  position: absolute;
}

.footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  text-align: center;
  line-height: 50px;
}
